<h1>発言がいっぱい</h1>
<p><%= @msg %></p>

<table>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>投稿者</th>
        <th colspan="2"></th>
    </tr>
    <% @data.each do |obj| %>
        <tr>
        <td><%= obj.id %></td>
        <td><a href="/messages/<%= obj.id %>"><%= obj.title %></a></td>
        <td><%= obj.person.name %></td>
        <td><a href="/messages/edit/<%= obj.id %>">編集</a></td>
        <td><a href="javascript:delData(<%= obj.id %>);">削除</a></td>
        </tr>
    <% end %>
</table>

<script>
// 削除確認のボックスを表示
function delData(num){
    if(confirm('このデータを削除しますか？')){
        document.location = "/messages/delete/" + num;
    }
    return false;
}
</script>